.socical_icon{
    clear: both;
}
.maps{
    float: left;
}

.maps iframe{
    float: left;
}

.features-list ul{
    display: none;
}
.caroufredsel_wrapper{
    width: 100% !important
}


.tracomeco_home_khach_hang .khach_hang_box p.rate .dis-star {
    background: #d2d3d5;
}
.tt_page_top .col_conten_right{
    height: fit-content;
}